{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Admin</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% endcompress %}

    <script defer src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
</head>

<body class="bg-green-50">
    {% block layout %}
        {% block navbar %}
        {% endblock navbar %}

        {% block sidebar %}
        {% endblock sidebar %}
        
        {% block login %}
        {% endblock login %}

        {% block content %}
        {% endblock content %}
    {% endblock layout %}

    <script defer src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    {% compress js %}
        <script defer src="{% static 'js/navbar.js' %}"></script>
        {% block page_script %}
        {% endblock page_script %}
    {% endcompress %}
</body>

</html>